{% extends 'base.html' %}

{% block title  %}
Страница О нас
{% endblock title  %}

{% block body  %}
    <div>


 <h4 class="m-3">Страница расказывающая игформацию о нас</h4>

      <hr>
        <div class="m-3">
    <p > "О нас" - это раздел веб-сайта, который обычно содержит информацию о компании, организации, проекте или человеке, создавшем сайт. Здесь могут быть представлены такие сведения, как история компании, ее цели и миссия, описание продуктов или услуг, контактная информация и т.д. В некоторых случаях раздел "О нас" может также содержать информацию о команде проекта или участниках компании / организации. Цель этого раздела - помочь пользователям сайта более полно понять, с кем они имеют дело и какая информация на сайте может быть полезна для них.</p>
            <ul>
                <li>Описание компании и ее истории.</li>
                <li>Цели и миссия компании.</li>
                <li>Описание продуктов или услуг, которые компания предоставляет.</li>
                <li>Информация о команде - фотографии, названия должностей, краткие биографии.</li>
                <li>Награды, достижения и рекомендации компании.</li>
                <li>Ссылки на социальные сети и другие контакты.</li>
            </ul>
    <p>Страница "О нас" может иметь разный дизайн и содержание в зависимости от типа сайта и компании, которая ее создала. В любом случае, она должна помочь пользователям лучше понять ценности и принципы компании, и насколько будущее сотрудничество с ней может быть полезным.</p>
            </div>
    </div>
{% endblock body  %}